/* este é um ficheiro de estilo*/
body {background-color: rgb(204, 183, 183);
    color:rgb(48, 8, 8);
    text-align: center;}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: 16px;}